html {
  font: normal 24px Helvetica, Arial, sans-serif;
}

header, h1 {
  background-color: blue;
  color: white;
}

header {
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: cyan;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
  width: auto;
}

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

article,
aside {
  padding: 0 1rem;
}

aside {
  background-color: lightgreen;
}

#aside-3 {
  background-color: pink;
}

#article-2 {
  background-color: skyblue;
}

p {
  margin: 1rem 0;
}

footer {
  background-color: yellow;
}

#copyright {
  margin: 0 1rem;
}

#logo {
  background-color: orange;
}

/* Solution */

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  color: black;
  font: normal 24px Helvetica, Arial, sans-serif;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#article-1 {
  grid-area: article-white;
}

#article-2 {
  grid-area: article-blue;
}

#aside-1 {
  grid-area: green-left;
}

#aside-2 {
  grid-area: green-right;
}

#aside-3 {
  grid-area: pink-left;
}

#copyright {
  grid-area: copyright;
  align-self: center;
  justify-self: end;
}

#logo {
  grid-area: logo;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "green-left article-white green-right"
    "pink-left article-blue article-blue"
    "footer footer footer"
  ;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "logo copyright";
}

#logo img {
  display: block;
  object-fit: cover;
  width: 100%;
}


